.topBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .headerText {
    display: flex;
    justify-content: center;
    color: wheat;
  }
  
  .lrContainers {
    display: flex;
    justify-content: flex-end;
  }
  
  .line {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 40px 0;
  }
  
  .removeRentalContent {
    width: 80%;
    margin: 0 auto;
  }
  td {
    padding: 10px;
  }
  
  p {
    margin-top: 40px;
    font-size: 20px;
  }
  
  button {
    margin-top: 40px;
    padding: 10px 20px;
  }
  body {
    background-image: url("../images/dimori-bg7.JPG");
    background-size: cover;
    background-attachment: fixed;
  }
  
  html {
    background-size: cover;
  }

  .btn-outline-secondary {
    color: wheat;
    background-color: transparent;
    background-image: none;
    border-color: wheat;
  }
  .btn-outline-secondary:hover {
    color: rgb(255, 255, 255);
    background-color: wheat;
    border-color: wheat;
  }

  .btn-outline-dark{
    color: rgb(106, 195, 222);
    background-color: transparent;
    background-image: none;
    border-color: rgb(106, 195, 222);
  }
  .btn-outline-dark:hover {
    color: #fff;
    background-color: rgb(106, 195, 222);
    border-color: rgb(106, 195, 222);
  }

  .label {
    color: lightsalmon;
    font-weight: bold;
  }

  .labelDetail{
    color: lightsalmon;
  }

  .buttonContainer{
    display: flex;
    justify-content: center;
  }